<%- include('partials/header'); -%>


  <div class="container mx-auto text-light p-5">
    <div class="row justify-content-md-center">

      <div class="my-5 pb-5">
        <h1 class="fw-bold fs-3 my-5">Hi, I'm Ruben Gueorguiev.<br> I'm a software devleoper studying at AUT.</h1>
      </div>


      <div class="col-lg-6 my-3">
        <div class="text-light">
          <h class="fw-bold fs-5">BIOGRAPHY</h>
          <p>ILorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Enim nec dui nunc mattis
            enim ut tellus elementum sagittis. Tempor orci dapibus ultrices in iaculis.</p>
          <p>
            Pulvinar pellentesque habitant morbi tristique senectus et netus. Bibendum arcu vitae elementum curabitur
            vitae nunc sed. Elementum pulvinar etiam non quam. Enim praesent elementum facilisis leo vel fringilla.
            Ipsum dolor sit amet consectetur adipiscing. At ultrices mi tempus imperdiet nulla.</p>
        </div>

      </div>

      <div class="col-lg-6 my-3">
        <div class="card border-0 border-light bg-1 rounded-0">
          <div class="text-light">
            <p> Mauris ultrices eros in cursus. Ultrices gravida dictum fusce ut placerat orci nulla. Venenatis cras sed
              felis eget velit. Mauris cursus mattis molestie a iaculis at. In metus vulputate eu scelerisque felis. In
              aliquam sem fringilla ut morbi tincidunt augue. Justo donec enim diam vulputate. Diam sit amet nisl
              suscipit adipiscing bibendum est.</p>
            <p>Cras pulvinar mattis nunc sed blandit. Elementum facilisis leo vel fringilla est ullamcorper. Sit amet
              mauris commodo quis imperdiet. Sed vulputate mi sit amet mauris. Vivamus at augue eget arcu dictum varius
              duis. Aliquet sagittis id consectetur purus ut faucibus pulvinar.</p>
            <p>Molestie nunc non blandit massa enim nec dui. Viverra mauris in aliquam sem fringilla ut. Mi in nulla
              posuere sollicitudin aliquam ultrices. Magna eget est lorem ipsum dolor sit amet consectetur adipiscing.
              Pellentesque id nibh tortor id aliquet lectus proin nibh.</p>
          </div>

        </div>
      </div>

      <div class="my-3">
        <mark class="blue header fs-3 fw-bold">Projects</mark>
      </div>

      <div class="col-lg-6 my-3">

        <div class="card text-light border-2 border-light bg-1 rounded-0">
          <img src="images/jobspycover.png" class="card-img d-none d-lg-block" alt="JobSpy Card">
          <img src="images/jobspycover.png" class="card-img d-lg-none" alt="JobSpy Card">

          <div class="card-img-overlay m-2 container row">
            <div class="card-img d-lg-none">
              <div class="text-light">

              </div>
            </div>
            <div class="d-none d-lg-block">

              <div class="text-dark">
              </div>
            </div>
          </div>
          <a href="/" class="stretched-link"></a>
        </div>

      </div>

      <div class="col-lg-6 my-3 fw-bold">
        <div class="card border-2 border-light bg-1 rounded-0">
          <img src="images/placeholder.png" class="card-img" alt="Cola Card">
          <div class="card-img-overlay m-2 container row">
            <div class="text-light">
              <h class="fw-bold fs-5">Placeholder</h>
            </div>
            <a href="/" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div class="card border-2 border-light bg-1 rounded-0">
          <img src="images/placeholder.png" class="card-img" alt="Cola Card">
          <div class="card-img-overlay m-2 container row">
            <div class="text-light">
              <h class="fw-bold fs-5">Placeholder</h>
            </div>
            <a href="/" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div class="card border-2 border-light bg-1 rounded-0">
          <img src="images/placeholder.png" class="card-img" alt="Cola Card">
          <div class="card-img-overlay m-2 container row">
            <div class="text-light">
              <h class="fw-bold fs-5">Placeholder</h>
            </div>
            <a href="/" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div class="card border-2 border-light bg-1 rounded-0">
          <img src="images/placeholder.png" class="card-img" alt="Cola Card">
          <div class="card-img-overlay m-2 container row">
            <div class="text-light">
              <h class="fw-bold fs-5">Placeholder</h>
            </div>
            <a href="/" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div class="card border-2 border-light bg-1 rounded-0">
          <img src="images/placeholder.png" class="card-img" alt="Cola Card">
          <div class="card-img-overlay m-2 container row">
            <div class="text-light">
              <h class="fw-bold fs-5">Placeholder</h>
            </div>
            <a href="/" class="stretched-link"></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  -->

  <%- include('partials/footer'); -%>