<%- include('partials/header'); -%>


  <div class="container mx-auto text-light p-5">
    <div class="row justify-content-md-center">

      <div class="my-5 pb-5">
        <h1 class="fw-bold fs-3 my-5">Hi, I'm Ruben Gueorguiev.<br> I'm a software developer studying at AUT.</h1>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6 my-3">
          <h class="fw-bold fs-5">ABOUT ME</h>
          <p>I love making things. Ever since I was a child, I have always found ways to express myself.
            Whether it was making games and pretend operating systems using Scratch, making movies with green screen
            and
            explosive visual effects, 3D modeling sci-fi characters, or designing cardboard mockups for future gaming
            systems or mobile phones. I have always had the drive see my ideas turn into reality.</p>
          <p>
            Software development has given me the ultimate creative freedom to make my ideas come true. I have found
            myself using all the skills that I have learned over the years in new ways. I can now make come up with an
            idea that helps people, solves problems or is just plain cool.</p>


        </div>

        <div class="col-lg-6 my-3">
          <p> During the few years I have studied Software Development at AUT, I have been given the opportunity to
            use my skills to create my own projects, and to work with a likeminded team to turn ideas into something
            we are proud of.</p>
          <p>Please feel free to check out some of the
            things I have been working on!</p>


        </div>
      </div>


      <div class="row mt-5">
        <div class="my-4">
          <h1 class=" fs-3 fw-bold">Projects</h1>
        </div>
        <div class="col-lg-6 my-3">

          <div class="card text-light border-0 border-light bg-1 rounded-0">
            <img src="images/jobspycover.png" class="card-img d-none d-lg-block" alt="JobSpy Card">
            <img src="images/jobspycover.png" class="card-img d-lg-none" alt="JobSpy Card">

            <div class="card-img-overlay m-2 container row">
              <div class="card-img d-lg-none">
                <div class="text-light">

                </div>
              </div>
              <div class="d-none d-lg-block">

                <div class="text-dark">
                </div>
              </div>
            </div>
            <a href="/" class="stretched-link"></a>
          </div>

        </div>


        <div class="col-lg-3 my-3">
          <div class="card border-2 border-0 bg-1 rounded-0">
            <img src="images/placeholder.png" class="card-img" alt="Cola Card">
            <div class="card-img-overlay m-2 container row">
              <div class="text-light">
                <h class="fw-bold fs-5">Placeholder</h>
              </div>
              <a href="/" class="stretched-link"></a>
            </div>
          </div>

          <div class="card border-2 border-0 bg-1 rounded-0 my-4">
            <img src="images/placeholder.png" class="card-img" alt="Cola Card">
            <div class="card-img-overlay m-2 container row">
              <div class="text-light">
                <h class="fw-bold fs-5">Placeholder</h>
              </div>
              <a href="/" class="stretched-link"></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 my-3">
          <div class="card border-2 border-0 bg-1 rounded-0">
            <img src="images/placeholder.png" class="card-img" alt="Cola Card">
            <div class="card-img-overlay m-2 container row">
              <div class="text-light">
                <h class="fw-bold fs-5">Placeholder</h>
              </div>
              <a href="/" class="stretched-link"></a>
            </div>
          </div>

          <div class="card border-2 border-0 bg-1 rounded-0 my-4">
            <img src="images/placeholder.png" class="card-img" alt="Cola Card">
            <div class="card-img-overlay m-2 container row">
              <div class="text-light">
                <h class="fw-bold fs-5">Placeholder</h>
              </div>
              <a href="/" class="stretched-link"></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  -->

  <%- include('partials/footer'); -%>