<div id="footer">
        <div class="container d-flex p-2 mx-auto flex-column mt-5 fw-light">
                <hr class="my-3 light" />
                <ul class="social mb-0 list-inline mt-3 mb-4 ms-4">
                        <li class="list-inline-item"><a class="fs-3"
                                        href="https://www.linkedin.com/in/ruben-gueorguiev-1bb0151b8/" target="_blank"
                                        class="social-link"><i class="fab fa-linkedin-in light"></i></a></li>
                        <li class="list-inline-item"><a class="fs-3" href="https://github.com/blackflarez"
                                        target="_blank" class="social-link"><i class="fab fa-github light"></i></a></li>
                        <li class="list-inline-item"></li><a class="nounderline text-light"
                                href="mailto: rubengueorguiev@gmail.com">rubengueorguiev@gmail.com</a>
                </ul>
        </div>
</div>

</body>

</html>