<%- include('partials/header'); -%>


  <div class="container light px-5">
    <div class=" justify-content-md-center">

      <div class="my-5 row">
        <div class="col">
          <h1 class="fw-bold fs-3 my-5">Hi, I'm Ruben.<br> I study Software Developement at
            AUT. <br> Find out what I've been working on!</h1>
        </div>
      </div>

      <hr />

      <div class="row my-5 py-4">
        <div class="col-lg my-3">

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">JobSpy</span>
              <br />
              <span class="fs-5 fw-light m-auto">Web app</span>
            </a>
          </div>

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">SE App</span>
              <br />
              <span class="fs-5 fw-light m-auto">Web app</span>
            </a>
          </div>

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">Meddalion</span>
              <br />
              <span class="fs-5 fw-light m-auto">Mobile app</span>
            </a>
          </div>

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">BetterPOS</span>
              <br />
              <span class="fs-5 fw-light m-auto">Desktop app</span>
            </a>
          </div>

        </div>

        <div class="col-lg my-3">
          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">Pangea</span>
              <br />
              <span class="fs-5 fw-light m-auto">Web game</span>
            </a>
          </div>

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">Pettokonpanion</span>
              <br />
              <span class="fs-5 fw-light m-auto">Desktop game</span>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <%- include('partials/footer'); -%>