<%- include('partials/header'); -%>


  <div class="container text-light px-5 pb-5">
    <div class=" justify-content-md-center">

      <div class="my-5 pb-2 row">
        <div class="col">
          <h1 class="fw-bold fs-3">Hi, I'm Ruben.<br> I'm studying Software Developement at
            AUT. <br> Check out what I've worked on!</h1>
        </div>
      </div>

      <hr />

      <div class="row my-5">
        <div class="col-lg my-2">
          <div class="my-2">
            <h1><a href="/jobspy" class="light link nounderline fs-3 fw-bold">JobSpy <p class="fs-5 fw-light">Web app
                </p></a></h1>
          </div>

          <div class="my-2">
            <h1><a href="#" class="light link nounderline fs-3 fw-bold">SE App<p class="fs-5 fw-light">Web app
                </p></a></h1>
          </div>

          <div class="my-2">
            <h1><a href="#" class="light link nounderline fs-3 fw-bold">Meddalion<p class="fs-5 fw-light">Mobile app

                </p></a></h1>
          </div>

          <div class="my-2">
            <h1><a href="#" class="light link nounderline fs-3 fw-bold">BetterPOS<p class="fs-5 fw-light">Desktop
                  app
                </p></a></h1>
          </div>

        </div>

        <div class="col-lg my-3">
          <div class="my-2">
            <h1><a href="#" class="light link nounderline fs-3 fw-bold">Pangea <p class="fs-5 fw-light">Web game
                </p></a>
            </h1>

          </div>

          <div class="my-2">
            <h1><a href="#" class="light link nounderline fs-3 fw-bold">Pettokonpanion<p class="fs-5 fw-light">Desktop
                  game

                </p></a></h1>
          </div>

          <div class="my-2">
            <h1><a href="#" class="light link nounderline fs-3 fw-bold">BetterPOS<p class="fs-5 fw-light">Desktop
                  app development
                </p></a></h1>
          </div>

        </div>

      </div>
    </div>
  </div>

  <%- include('partials/footer'); -%>