<%- include('partials/header'); -%>


  <div class="container text-light px-5 pb-5">
    <div class=" justify-content-md-center">

      <div class="my-5 pb-2 row">
        <div class="col">
          <h1 class="fw-bold fs-3">Hi, I'm Ruben.<br> I'm studying Software Developement at
            AUT. <br> Check out what I've worked on!</h1>
        </div>
      </div>

      <hr />

      <div class="row my-5">
        <div class="col-lg my-2">

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">JobSpy</span>
              <br />
              <span class="fs-5 fw-light m-auto">Web app</span>
            </a>
          </div>

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">SE App</span>
              <br />
              <span class="fs-5 fw-light m-auto">Web app</span>
            </a>
          </div>

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">Meddalion</span>
              <br />
              <span class="fs-5 fw-light m-auto">Mobile app</span>
            </a>
          </div>

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">BetterPOS</span>
              <br />
              <span class="fs-5 fw-light m-auto">Desktop app</span>
            </a>
          </div>

        </div>

        <div class="col-lg my-3">
          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">Pangea</span>
              <br />
              <span class="fs-5 fw-light m-auto">Web game</span>
            </a>
          </div>

          <div class="my-3">
            <a href="/jobspy" class="link nounderline light m-auto">
              <span class=" fs-3 fw-bold m-auto">Pettokonpanion</span>
              <br />
              <span class="fs-5 fw-light m-auto">Desktop app</span>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <%- include('partials/footer'); -%>