<%- include('partials/header'); -%>

    <div class="container text-light px-5 pb-5">
        <div class=" justify-content-md-center">

            <div class="my-3 pb-2 row">
                <div class="col">

                    <a class="link nounderline light" href="#">
                        <h1 class="fw-bold fs-1">JobSpy</h1>
                    </a>

                </div>


            </div>



            <div class="row">
                <div class="col-lg-9 my-3">
                    <div class="card border-0 rounded-2">
                        <img src="images/jobspycover.png" class="card-img" alt="Cola Card">
                        <div class="card-img-overlay m-2 container row">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 my-3">
                    <p class="fs-5">JobSpy uses an advanced job scraping algorithm to find developer jobs on popular
                        jobseeker
                        websites
                        such as Seek and Trade Me.
                    </p>
                </div>

                <div class="col-lg-4 my-3">
                    <div class="card border-0 rounded-2">
                        <img src="images/jobspycovermobile.png" class="card-img" alt="Cola Card">
                        <div class="card-img-overlay m-2 container row">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-3">
                    <div class="card border-0 rounded-2">
                        <img src="images/jobspycovermobile.png" class="card-img" alt="Cola Card">
                        <div class="card-img-overlay m-2 container row">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-3">
                    <div class="card border-0 rounded-2">
                        <img src="images/jobspycovermobile.png" class="card-img" alt="Cola Card">
                        <div class="card-img-overlay m-2 container row">
                        </div>
                    </div>
                </div>



            </div>


            <%- include('partials/footer'); -%>