<%- include('partials/header'); -%>

    <div class="container text-light px-5 pb-5">
        <div class=" justify-content-md-center">

            <h1 class="fw-bold fs-1">JobSpy</h1>
            <div class="my-5">
                <p>JobSpy searches the web for developer job openings and presents them in one simple to
                    use website.
                </p>
                <p>JobSpy was an experience of many firsts. As a second year project, we were tasked to
                    conceptualise, design and develop our own large scale app for the first time. I was fortunate enough
                    to
                    have a great team of four, yet the task ahead of us still seemed daunting. However, with the help of
                    an
                    Agile workflow, we were able to effectively coordinate, plan, and be able to learn new things along
                    the
                    way.
                </p>
                <p>
                    I was mainly responsible for designing the UI/UX, frontend development, as well as some backend
                    development. My main goal was to keep the experience as straight forward as possible. I wanted each
                    type
                    of user to immediately know what the website was about, and be able to get started straight away.
                </p>
                <p>
                    The tech stack we used included MongoDB, Express, NodeJS, JavaScript, HTML, and CSS (Bootstrap).
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#cover">
                        <img src="images/jobspycover.png" class="img-fluid" alt="JobSpy's front page">
                    </a>
                    <p class="my-1">JobSpy's home page</p>
                </div>

                <div class="col-lg-6 mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#covermobile">
                        <img src="images/jobspycovermobile.png" class="img-fluid" alt="JobSpy on mobile">
                    </a>
                    <p>Jobspy on mobile</p>
                </div>

                <div class="col-lg-6 mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#jobpost1">
                        <img src="images/jobspypost1.png" class="img-fluid" alt="JobSpy's Trello board">
                    </a>
                    <p>Creating a featured job post</p>
                </div>

                <div class="col-lg-6 mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#jobpost2">
                        <img src="images/jobspypost2.png" class="img-fluid" alt="JobSpy's Trello board">
                    </a>
                    <p>Previewing a featured job post</p>
                </div>

                <div class="col-lg-6 mb-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#trello">
                        <img src="images/jobspytrello.png" class="img-fluid" alt="JobSpy's Trello board">
                    </a>
                    <p>Our team's Trello board</p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="cover" tabindex="-1" aria-labelledby="JobSpy's front page" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <img src="images/jobspycover.png" class="img-fluid" alt="JobSpy's front page">
            </div>
        </div>
    </div>

    <div class="modal" id="covermobile" tabindex="-1" aria-labelledby="JobSpy's front page" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <img src="images/jobspycovermobile.png" class="img-fluid" alt="JobSpy's front page">
            </div>
        </div>
    </div>

    <div class="modal" id="jobpost1" tabindex="-1" aria-labelledby="JobSpy's front page" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <img src="images/jobspypost1.png" class="img-fluid" alt="JobSpy's front page">
            </div>
        </div>
    </div>

    <div class="modal" id="jobpost2" tabindex="-1" aria-labelledby="JobSpy's front page" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <img src="images/jobspypost2.png" class="img-fluid" alt="JobSpy's front page">
            </div>
        </div>
    </div>

    <div class="modal" id="trello" tabindex="-1" aria-labelledby="JobSpy's front page" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <img src="images/jobspytrello.png" class="img-fluid" alt="JobSpy's front page">
            </div>
        </div>
    </div>




    <%- include('partials/footer'); -%>