body {
  background: #f8f9fa;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  position: relative;
  overflow-x: hidden;
  z-index: 100;
}

.title {
  color: #f8f9fa;
  font-weight: 700;
  font-family: 'Lexend Zetta', sans-serif;
}

.link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.dark {
  color: #212529;
}

.light {
  color: #f8f9fa;
}

.blue {
  color: #0d0fd4;
}

.featureTitle {
  color: #3191ff;
}

.nounderline {
  text-decoration: none !important;
}

.card-colour {
  color: #102b5c;
}

.bg-1 {
  background: #f8f9fa;
}

.bg-2 {
  background: #000000;
}

mark {
  background-color: #ffffff;
}

.hide {
  display: none;
}

.card:hover .hide {
  display: block;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.card {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}
