.custom-cur {
  cursor: url('/logo.png');
}

@font-face {
  font-family: 'Monument';
  src: url("../fonts/MonumentExtended-Regular.otf");
  font-style:normal
}

body {
  background: #0D0FD4;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

.title{
  color: white;
  font-weight: 700;
  font-family: 'Lexend Zetta', sans-serif;
}

.title:hover{
  color: #0D0FD4;
  background-color: white;
}

.dark{
  color: #212529;
}

.light{
  color: #F8F9FA;
}

.blue{
  color: #0D0FD4;
}

.featureTitle{
  color: #3191ff;
}

.nounderline {
  text-decoration: none !important
}

.card-colour{
  color: #102b5c;
}

.bg-1{
  background: #2325F1
  
}

.bg-2{
  background: #000000;
}

mark{
  background-color: #ffffff;
}