html,
body {
  text-align: left;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit;
  transition: all 0.2s;
  text-decoration: none;
  font-weight: 500;
}

.card {
  background: var(--blur-bg);
  border-radius: 25px;
  padding: 30px;
  width: 50rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(9.4px);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15vh;
}

.outline {
  flex-direction: row;
  margin-top: 4rem;
}

.content {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem 10rem;
}

.section {
  margin: 5 auto;
}

.title {
  margin-top: 10vh;
  max-width: 50rem;
}

.pill {
  border: 1px solid var(--white);
  border-radius: 50px;
  padding: 10px;
  margin-right: 0.5rem;
  margin-bottom: 0;
  display: inline-block;
  font-size: 0.7rem;
  align-self: flex-end;
  margin-top: auto;
}

.link {
  background-color: var(--blur-bg);
  border-radius: 50px;
  padding: 1rem;
  margin: 0.2rem;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(9.4px);
}

.link:hover {
  opacity: 0.8;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

h5 {
  font-size: 0.75rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #040407;
    --white: #fff;
    --blur-bg: hsla(0, 0%, 100%, 0.05);
  }

  body {
    background-color: var(--dark);
    background: linear-gradient(to top, #101010, #1a1c1e);
    color: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --dark: #000;
    --white: #fff;
    --blur-bg: rgba(170, 196, 200, 0.15);
  }

  body {
    background-color: var(--white);
    background: linear-gradient(to bottom, #00b4db, #10a1d1);
    color: var(--white);
  }
}

@media only screen and (orientation: portrait) {
  .title {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .card {
    background: var(--blur-bg);
    border-radius: 25px;
    padding: 20px;
    width: 80vw;
    min-height: 11rem;
  }
}
